@import "../../main";

.AddProduct {

}

.mainWrapper {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
}