@font-face {
  font-family: 'gothamPro';
  src: url('../fonts/GothamPro-Light/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gothamPro';
  src: url('../fonts/GothamPro/GothamPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gothamPro';
  src: url('../fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}