$white: #F5F5F5;
$milk: #DCD9D5;
$milk2: #C4C4C4;
$black: #5C5B5A;
$black50: rgba(92, 91, 90, 0.5);
$blue50: rgba(120, 142, 156, 0.5);
$blue2: #586973;
$btnActive: inset 0 1px 3px rgba(0, 10, 20, 0.5), 0 1px #535e68, 0 0 1px #56606a;